[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "data/samples"]
	path = data/samples
	url = https://huggingface.co/datasets/ho22joshua/hackathon_samples
[submodule "data/datasets/root-sft-dataset"]
	path = data/datasets/root-sft-dataset
	url = https://huggingface.co/datasets/ho22joshua/root-sft-dataset
[submodule "data/datasets/atlas-open-data-sft-dataset"]
	path = data/datasets/atlas-open-data-sft-dataset
	url = https://huggingface.co/datasets/ho22joshua/atlas-open-data-sft-dataset
[submodule "data/datasets/hyy-trexfitter-agent-trajectories"]
	path = data/datasets/hyy-trexfitter-agent-trajectories
	url = https://huggingface.co/datasets/cxyang-ucb/hyy-sft
