Job: string
  ExperimentLabel: string
  Label: string
  POI: string
  POIUnit: string
  ReadFrom: HIST/NTUP
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixNameNominal: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceNameNominal: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffNameNominal: string
  MigrationName: string
  MigrationNames: string
  MigrationFile: string
  MigrationFiles: string
  MigrationPath: string
  MigrationPaths: string
  MigrationNameNominal: string
  HistoName: string
  HistoNames: string
  HistoNameNominal: string
  HistoFile: string
  HistoFiles: string
  HistoPath: string
  HistoPaths: string
  NtupleName: string
  NtupleNames: string
  NtupleFile: string
  NtupleFiles: string
  NtuplePath: string
  NtuplePaths: string
  FriendPath: string
  FriendPaths: string
  MCweight: string
  Selection: string
  Lumi: float
  LumiScale: float
  SystPruningShape: float
  SystPruningNorm: float
  DoSystNormalizationPlots: TRUE/FALSE
  SystLarge: float
  IntCode: int
  MCstatThreshold: NONE/float
  MCstatConstraint: GAUSSIAN/POISSON
  DebugLevel: int
  LoggingFormat: string
  Logo: TRUE/FALSE
  SystControlPlots: TRUE/FALSE
  SystDataPlots: TRUE/FALSE
  CorrelationThreshold: float
  SignalRegionsPlot: string
  HistoChecks: NOCRASH
  LumiLabel: string
  CmeLabel: string
  GammaTitle: string
  SplitHistoFiles: TRUE/FALSE
  BlindingThreshold: float
  BlindingType: SOVERB/SOVERSPLUSB/SOVERSQRTB/SOVERSQRTSPLUSB
  KeepPrefitBlindedBins: TRUE/FALSE
  RankingMaxNP: int
  RankingPlot: MERGE/SYSTS/GAMMAS/ALL
  RankingNPfraction: float
  ImageFormat: string
  StatOnly: TRUE/FALSE
  SystErrorBars: TRUE/FALSE
  FixNPforStatOnly: TRUE/FALSE
  InputFolder: string
  InputName: string
  OutputDir: string
  WorkspaceFileName: string
  KeepPruning: TRUE/FALSE
  PlotLabel: string
  CleanTables: TRUE/FALSE
  SystCategoryTables: TRUE/FALSE
  SummaryPlotRegions: string
  SummaryPlotYmax: float
  SummaryPlotYmin: float
  SummaryLogY: TRUE/FALSE
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  RatioYtitle: string
  RatioType: DATAOVERMC/DATAOVERBKG/SOVERB/SOVERSQRT(B)/SOVERSQRT(S+B)/DATAOVERBWITHS
  CustomAsimov: string
  WriteCustomAsimovToWS: TRUE/FALSE
  GetChi2: TRUE/STAT+SYST/STAT
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/TCHANNEL/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  GuessMCStatEmptyBins: TRUE/FALSE
  CorrectNormForNegativeIntegral: TRUE/FALSE
  MergeUnderOverFlow: TRUE/FALSE
  DoSummaryPlot: TRUE/FALSE
  DoMergedPlot: TRUE/FALSE
  DoTables: TRUE/FALSE
  DoPieChartPlot: TRUE/FALSE
  CustomFunctions: string
  CustomIncludePaths: string
  CustomFunctionsExecutes: string
  SuppressNegativeBinWarnings: TRUE/FALSE
  Bootstrap: string
  BootstrapSyst: string
  BootstrapSample: string
  BootstrapNomHistos: string
  PlotOptions: string
  PlotOptionsSummary: string
  ReplacementFile: string
  RegionGroups: string
  DecorrSuff: string
  DecorrSysts: string
  DoSignalRegionsPlot: TRUE/FALSE
  TableOptions: string
  Suffix: string
  SaveSuffix: string
  SummaryPrefix: string
  HideNP: string
  SummaryPlotLabels: string
  SummaryPlotValidationRegions: string
  SummaryPlotValidationLabels: string
  SmoothMorphingTemplates: TRUE/FALSE/string
  AllowWrongRegionSample: TRUE/FALSE
  POIPrecision: int
  RankingPOIName: string
  RankingPOIAxisScale: string
  RankingUpperAxisNdivision: string
  UsePDGRounding: TRUE/FALSE
  UsePDGRoundingTxt: TRUE/FALSE
  UsePDGRoundingTex: TRUE/FALSE
  PropagateSystsForMorphing: TRUE/FALSE
  PrePostFitCanvasSize: int,int
  SummaryCanvasSize: int,int
  MergeCanvasSize: int,int
  PieChartCanvasSize: int,int
  NPRankingCanvasSize: int,int
  PruningType: SEPARATESAMPLE/BACKGROUNDREFERENCE/COMBINEDREFERENCE/COMBINEDSIGNAL
  LabelX: float
  LabelY: float
  LegendX1: float
  LegendX2: float
  LegendY: float
  LabelXSummary: float
  LabelYSummary: float
  LegendX1Summary: float
  LegendX2Summary: float
  LegendYSummary: float
  LabelXMerge: float
  LabelYMerge: float
  LegendX1Merge: float
  LegendX2Merge: float
  LegendYMerge: float
  LegendNColumns: int
  LegendNColumnsSummary: int
  LegendNColumnsMerge: int
  ExcludeFromMorphing: string
  MaxNtupleEvents: int
  SeparationPlot: string
  PruningShapeOption: MAXBIN/KSTEST
  ReorderNPs: TRUE/FALSE
  BlindSRs: TRUE/FALSE
  HEPDataFormat: TRUE/FALSE
  UheppFormat: TRUE/FALSE
  CombinerFormat: TRUE/FALSE
  AlternativeShapeHistFactory: TRUE/FALSE
  RemoveLargeSyst: TRUE/FALSE
  RemoveSystOnEmptySample: TRUE/FALSE
  ShowValidationPruning: TRUE/FALSE
  AddAliases: string
  DoExtendedCovariances: TRUE/FALSE
  UseFolderStructure: TRUE/FALSE
  UnfoldingShowStatOnlyError: TRUE/FALSE
  UnfoldingShowUncertaintyBreakdown: TRUE/FALSE
  UnfoldingUncertaintyBreakdownTotal: TRUE/FALSE
  ApplyGammaCorrection: TRUE/FALSE
  RecreateBinningFiles: TRUE/FALSE
  SaveConfigCopy: TRUE/FALSE
  UseHEPDataRounding: TRUE/FALSE
  WorkspaceCreationType: FORFIT/FORPLOTS/BOTH
  OVERSIGSCALE: float
  NoPrePostFitLabel: TRUE/FALSE
  ProducePerRegionWS: TRUE/FALSE
  DrawPruningPlot: TRUE/FALSE
  PreFitLabel: string
  PostFitLabel: string
  ToysForErrorBand: int
  PruningExcludeSysts: string

Fit: string
  FitType: SPLUSB/BONLY/UNFOLDING/EFT
  FitRegion: CRSR/CRONLY
  FitBlind: TRUE/FALSE
  POIAsimov: string
  NPValues: string
  NPValuesFromFitResultsFile: string
  InjectGlobalObservables: TRUE/FALSE
  FixNPs: string
  doLHscan: string
  do2DLHscan: string
  UseMinos: string
  SetRandomInitialNPval: float
  NumCPU: int
  StatOnlyFit: TRUE/FALSE
  TemplateInterpolationOption: LINEAR/SMOOTHLINEAR/SQUAREROOT
  SetRandomInitialNPvalSeed: int
  DoNonProfileFit: TRUE/FALSE
  NonProfileFitSystThreshold: float
  FitToys: int
  ToysSeed: int
  ToysHistoNbins: int
  LHscanMin: float
  LHscanMax: float
  LHscanSteps: int
  LHscanMinY: float
  LHscanMaxY: float
  LHscanStepsY: int
  BlindedParameters: string
  FitStrategy: int
  BinnedLikelihoodOptimization: TRUE/FALSE
  UsePOISinRanking: TRUE/FALSE
  ShiftGlobalObservablesInRanking: TRUE/FALSE
  UseHesseBeforeMigrad: TRUE/FALSE
  UseNLLwithoutOffsetInLHscan: TRUE/FALSE
  DataWeighted: TRUE/FALSE
  RegularizationType: int
  MultiStageFit: TRUE/FALSE
  NPCutOff: float
  ToysStatOutput: TRUE/FALSE
  ToysNpValuesFile: string
  UseRegularBinning: TRUE/FALSE
  ErrorSigma: float
  FitResultsRootFile: string
  UseHesse: TRUE/FALSE
  MaximumNumberFCNcalls: int
  ToleranceScale: float
  ErrorDecomposition: TRUE/FALSE
  UseAutoDiff: TRUE/FALSE
  FitToysRandomInitialNormFactorValues: string
  FitToysLHscanCondition: string
  AddNFsToPOIs: TRUE/FALSE
  ToysLHScanForAll: TRUE/FALSE
  ToysOnlyStatFluctuation: TRUE/FALSE
  NLLOffset: NONE/INITIAL/BIN
  ToysStoreTestStat: TRUE/FALSE

Limit: string
  LimitType: ASYMPTOTIC/TOYS
  LimitBlind: TRUE/FALSE
  POI: string
  SignalInjection: TRUE/FALSE
  SignalInjectionValue: float
  ParamName: string
  ParamValue: float
  OutputPrefixName: string
  ConfidenceLevel: float
  SplusBToys: int
  BonlyToys: int
  ScanSteps: int
  ScanMin: float
  ScanMax: float
  ToysSeed: int
  LimitPlot: TRUE/FALSE
  LimitFile: TRUE/FALSE
  FitStrategy: int
  ToysUsexRooFit: TRUE/FALSE/AUTO
  UseAutoDiff: TRUE/FALSE

Significance: string
  SignificanceType: ASYMPTOTIC/TOYS
  SignificanceBlind: TRUE/FALSE
  POI: string
  BonlyToys: int
  ToysSeed: int
  SignificancePlot: TRUE/FALSE
  POIAsimov: float
  OutputPrefixName: string
  ToysUsexRooFit: TRUE/FALSE
  UseAutoDiff: TRUE/FALSE
  FitStrategy: int

Options: string
  SystPlotRatioRange: float
  CanvasWidthMerge: float
  CanvasWidth: float
  CanvasHeight: float
  SystFillStyle: float
  LegendNColumns: float
  NormSigSRonly: float
  RandomizeMC: float
  PoissonizeData: float
  SignalRegionSize: float
  LogSignalRegionPlot: float
  LogXSignalRegionPlot: float
  PieChartSize: float
  ReduceRanking: float
  PrefitRatioMax: float
  MergeLogY: float
  MergeLogYmin: float
  MergeUniqueY: float
  MergeYfrac: float
  MergeYmaxScale: float
  MergeFixLastBinWidth: float
  MergeRegionLabelAlign: float

Region: string
  VariableTitle: string
  Label: string
  TexLabel: string
  ShortLabel: string
  LumiLabel: string
  CmeLabel: string
  LogScale: TRUE/FALSE
  LogScaleX: TRUE/FALSE
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixNameSuff: string
  ResponseMatrixNameSuffs: string
  ResponseMatrixFileSuff: string
  ResponseMatrixFileSuffs: string
  ResponseMatrixPathSuff: string
  ResponseMatrixPathSuffs: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceNameSuff: string
  AcceptanceNameSuffs: string
  AcceptanceFileSuff: string
  AcceptanceFileSuffs: string
  AcceptancePathSuff: string
  AcceptancePathSuffs: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffNameSuff: string
  SelectionEffNameSuffs: string
  SelectionEffFileSuff: string
  SelectionEffFileSuffs: string
  SelectionEffPathSuff: string
  SelectionEffPathSuffs: string
  MigrationFile: string
  MigrationFiles: string
  MigrationName: string
  MigrationNames: string
  MigrationPath: string
  MigrationPaths: string
  MigrationNameSuff: string
  MigrationNameSuffs: string
  MigrationFileSuff: string
  MigrationFileSuffs: string
  MigrationPathSuff: string
  MigrationPathSuffs: string
  HistoFile: string
  HistoFiles: string
  HistoName: string
  HistoNames: string
  HistoPath: string
  HistoPaths: string
  HistoNameSuff: string
  HistoNameSuffs: string
  HistoFileSuff: string
  HistoFileSuffs: string
  HistoPathSuff: string
  HistoPathSuffs: string
  Variable: string
  VariableForSample: string
  SelectionForSample: string
  Selection: string
  NtupleName: string
  NtupleNames: string
  NtupleFile: string
  NtupleFiles: string
  NtuplePath: string
  NtuplePaths: string
  NtupleNameSuff: string
  NtupleNameSuffs: string
  NtupleFileSuff: string
  NtupleFileSuffs: string
  NtuplePathSuff: string
  NtuplePathSuffs: string
  FriendPathSuff: string
  FriendPathSuffs: string
  MCweight: string
  Rebin: int
  Rebinning: string % new: to be used to rebin at the b step, after original histograms are created
  Binning: string
  BinWidth: float
  BinLabels: string
  BinDividers: string
  RangeLabels: string
  BinTickMarks: string
  BinTickMarksLabels: string
  Type: SIGNAL/CONTROL/VALIDATION
  DataType: ASIMOV/DATA
  Ymax: float
  Ymin: float
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  DropBins: string
  BlindBins: string
  Group: string
  YaxisTitle: string
  YmaxScale: float
  SkipSmoothing: TRUE/FALSE
  XaxisRange: float,float
  IsBinOfRegion: string
  AutomaticDropBins: TRUE/FALSE
  NumberOfRecoBins: int
  NormalizeMigrationMatrix: TRUE/FALSE
  RandomNFscale: string
  DrawDataMinusBkg: NONE/ERRONSIGNAL/ERRONBKG
  PruningPlotSamples: string
  TransfoErr: float
  PlotSubdir: string
  FriendPath: string
  FriendPaths: string
  FriendPathSuff: string
  FriendPathSuffs: string

UnfoldingSample: string
  Title: string
  FillColor: int
  FillColorRGB: string
  LineColor: int
  LineColorRGB: string
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixFileSuff: string
  ResponseMatrixFileSuffs: string
  ResponseMatrixNameSuff: string
  ResponseMatrixNameSuffs: string
  ResponseMatrixPathSuff: string
  ResponseMatrixPathSuffs: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceFileSuff: string
  AcceptanceFileSuffs: string
  AcceptanceNameSuff: string
  AcceptanceNameSuffs: string
  AcceptancePathSuff: string
  AcceptancePathSuffs: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffFileSuff: string
  SelectionEffFileSuffs: string
  SelectionEffNameSuff: string
  SelectionEffNameSuffs: string
  SelectionEffPathSuff: string
  SelectionEffPathSuffs: string
  MigrationFile: string
  MigrationFiles: string
  MigrationName: string
  MigrationNames: string
  MigrationPath: string
  MigrationPaths: string
  MigrationFileSuff: string
  MigrationFileSuffs: string
  MigrationNameSuff: string
  MigrationNameSuffs: string
  MigrationPathSuff: string
  MigrationPathSuffs: string
  Regions: string
  Type: STANDARD/GHOST
  Gammas: SEPARATED/DISABLED
  SubSampleRegions: string
  UnfoldingName: string
  NoPruning: TRUE/FALSE

Sample: string
  Type: SIGNAL/BACKGROUND/DATA/GHOST/EFT
  Title: string
  TexTitle: string
  Group: string
  HistoFile: string
  HistoFiles: string
  HistoName: string
  HistoNames: string
  HistoPath: string
  HistoPaths: string
  HistoFileSuff: string
  HistoFileSuffs: string
  HistoNameSuff: string
  HistoNameSuffs: string
  HistoPathSuff: string
  HistoPathSuffs: string
  HistoFolderName: string
  NtupleFile: string
  NtupleFiles: string
  NtupleName: string
  NtupleNames: string
  NtuplePath: string
  NtuplePaths: string
  NtupleFileSuff: string
  NtupleFileSuffs: string
  NtupleNameSuff: string
  NtupleNameSuffs: string
  NtuplePathSuff: string
  NtuplePathSuffs: string
  FillColor: string
  LineColor: string
  LineStyle: int
  LineWidth: int
  FillColorRGB: int,int,int
  LineColorRGB: int,int,int
  FillLineColorHEX: string
  NormFactor: string,float,float,float/string,float,float,float,TRUE
  ShapeFactor: string,float,float,float/string,float,float,float,TRUE
  NormalizedByTheory: TRUE/FALSE
  MCweight: string
  Selection: string
  Regions: string
  Exclude: string
  LumiScale: string/float
  LumiScales: string
  IgnoreSelection: TRUE/FALSE/string
  IgnoreWeight: TRUE/FALSE/string
  UseMCstat: TRUE/FALSE
  UseSystematics: TRUE/FALSE
  MultiplyBy: string
  DivideBy: string
  AddSample: string
  AddSamples: string
  NormToSample: string
  SubtractSample: string
  SubtractSamples: string
  Smooth: TRUE/FALSE
  AsimovReplacementFor: string
  CorrelateGammasInRegions: string
  CorrelateGammasWithSample: string
  Morphing: string,float
  SeparateGammas: TRUE/FALSE
  GammaTitle: string
  MCstatScale: float
  SystFromSample: string
  UseGaussianShapeSysConstraint: TRUE/FALSE
  EFTSMReference: string
  EFTParam: string
  EFTTitle: string
  EFTValue: string
  NoPruning: TRUE/FALSE
  GridDID: string
  Template: string
  UseFriend: TRUE/FALSE
  FriendPath: string
  FriendPaths: string
  FriendPathSuff: string
  FriendPathSuffs: string
  AlternativeRefInTemplateMorphing: string

NormFactor: string
  Samples: string
  Regions: string
  Exclude: string
  Title: string
  TexTitle: string
  Nominal: float
  Min: float
  Max: float
  Constant: TRUE/FALSE
  SubCategory: string
  Expression: string
  Category: string
  Tau: float
  CorrelateUnfolding: string

ShapeFactor: string
  Samples: string
  Regions: string
  Exclude: string
  Title: string
  TexTitle: string
  Nominal: float
  Min: float
  Max: float
  Constant: TRUE/FALSE
  Category: string
  Expression: string

Systematic: string
  Samples: string
  Regions: string
  Exclude: string
  ExcludeRegionSample: string
  Type: HISTO/OVERALL/SHAPE/STAT
  Title: string
  TexTitle: string
  StoredName: string
  NuisanceParameter: string
  IsFreeParameter: TRUE/FALSE
  IsCorrelated: TRUE/FALSE
  Category: string
  SubCategory: string
  CombineName: string
  CombineType: STANDARDDEVIATION/ENVELOPE/STANDARDDEVIATIONNODDOF/HESSIAN/SUMINSQUARES
  HistoPathUp: string
  HistoPathDown: string
  HistoPathSufUp: string
  HistoPathSufDown: string
  HistoFileUp: string
  HistoFileDown: string
  HistoFilesUp: string
  HistoFilesDown: string
  HistoFileSufUp: string
  HistoFileSufDown: string
  HistoNameUp: string
  HistoNameDown: string
  HistoFolderNameUp: string
  HistoFolderNameDown: string
  HistoFolderSubtractNameUp: string
  HistoFolderSubtractNameDown: string
  HistoNameSufUp: string
  HistoNameSufDown: string
  HistoPathsUpSubtractSample: string
  HistoPathUpSubtractSample: string
  HistoFilesUpSubtractSample: string
  HistoFileUpSubtractSample: string
  HistoNamesUpSubtractSample: string
  HistoNameUpSubtractSample: string
  HistoPathsDownSubtractSample: string
  HistoPathDownSubtractSample: string
  HistoFilesDownSubtractSample: string
  HistoFileDownSubtractSample: string
  HistoNamesDownSubtractSample: string
  HistoNameDownSubtractSample: string
  HistoNameSufUpSubtractSample: string
  HistoNameSufDownSubtractSample: string
  NtuplePathsUpSubtractSample: string
  NtuplePathUpSubtractSample: string
  FriendPathsUpSubtractSample: string
  FriendPathUpSubtractSample: string
  NtupleFilesUpSubtractSample: string
  NtupleFileUpSubtractSample: string
  NtupleNamesUpSubtractSample: string
  NtupleNameUpSubtractSample: string
  NtuplePathsDownSubtractSample: string
  NtuplePathDownSubtractSample: string
  FriendPathsDownSubtractSample: string
  FriendPathDownSubtractSample: string
  NtupleFilesDownSubtractSample: string
  NtupleFileDownSubtractSample: string
  NtupleNamesDownSubtractSample: string
  NtupleNameDownSubtractSample: string
  NtupleFileSufUpSubtractSample: string
  NtupleFileSufDownSubtractSample: string
  NtupleNameSufUpSubtractSample: string
  NtupleNameSufDownSubtractSample: string
  HistoFileSufUpSubtractSample: string
  HistoFileSufDownSubtractSample: string
  FriendPathUp: string
  FriendPathDown: string
  FriendPathSufUp: string
  FriendPathSufDown: string
  NtuplePathUp: string
  NtuplePathDown: string
  NtuplePathsUp: string
  FriendPathsUp: string
  NtuplePathsDown: string
  FriendPathsDown: string
  NtuplePathSufUp: string
  NtuplePathSufDown: string
  NtupleFileUp: string
  NtupleFilesDown: string
  NtupleFilesUp: string
  NtupleFileSufUp: string
  NtupleFileSufDown: string
  NtupleNameUp: string
  NtupleNameDown: string
  NtupleNamesUp: string
  NtupleNamesDown: string
  NtupleNameSufUp: string
  NtupleNameSufDown: string
  SampleUp: string
  SampleDown: string
  WeightUp: string
  WeightDown: string
  WeightSufUp: string
  WeightSufDown: string
  IgnoreWeight: string
  Symmetrisation: ONESIDED/TWOSIDED/ABSMEAN/MAXIMUM/MAXIMUMKEEPSIGN
  Smoothing: float
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/TCHANNEL/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  OverallUp: float
  OverallDown: float
  ScaleUp: string
  ScaleDown: string
  ReferenceSample: string
  ReferenceSmoothing: string
  ReferencePruning: string
  DropShapeIn: string
  DropNorm: string
  DropNormSpecial: string
  KeepNormForSamples: string
  DummyForSamples: string
  PreSmoothing: TRUE/FALSE
  NtupleFileDown: string
  Decorrelate: REGION/SAMPLE/SHAPEACC
  NoPruning: TRUE/FALSE
  ForceShape: NOSHAPE/LINEAR/TRIANGULAR

UnfoldingSystematic: string
  Samples: string
  Regions: string
  NuisanceParameter: string
  Type: HISTO/OVERALL/SHAPE/STAT
  Title: string
  Category: string
  SubCategory: string
  ResponseMatrixPathUp: string
  ResponseMatrixPathDown: string
  ResponseMatrixPathsUp: string
  ResponseMatrixPathsDown: string
  ResponseMatrixPathSuffUp: string
  ResponseMatrixPathSuffDown: string
  ResponseMatrixPathSuffsUp: string
  ResponseMatrixPathSuffsDown: string
  ResponseMatrixFileUp: string
  ResponseMatrixFileDown: string
  ResponseMatrixFilesUp: string
  ResponseMatrixFilesDown: string
  ResponseMatrixFileSuffUp: string
  ResponseMatrixFileSuffDown: string
  ResponseMatrixFileSuffsUp: string
  ResponseMatrixFileSuffsDown: string
  ResponseMatrixNameUp: string
  ResponseMatrixNameDown: string
  ResponseMatrixNamesUp: string
  ResponseMatrixFolderNameUp: string
  ResponseMatrixFolderNameDown: string
  ResponseMatrixNamesDown: string
  ResponseMatrixNameSuffUp: string
  ResponseMatrixNameSuffDown: string
  ResponseMatrixNameSuffsUp: string
  ResponseMatrixNameSuffsDown: string
  AcceptancePathUp: string
  AcceptancePathDown: string
  AcceptancePathsUp: string
  AcceptancePathsDown: string
  AcceptancePathSuffUp: string
  AcceptancePathSuffDown: string
  AcceptancePathSuffsUp: string
  AcceptancePathSuffsDown: string
  AcceptanceFileUp: string
  AcceptanceFileDown: string
  AcceptanceFilesUp: string
  AcceptanceFilesDown: string
  AcceptanceFileSuffUp: string
  AcceptanceFileSuffDown: string
  AcceptanceFileSuffsUp: string
  AcceptanceFileSuffsDown: string
  AcceptanceNameUp: string
  AcceptanceNameDown: string
  AcceptanceFolderNameUp: string
  AcceptanceFolderNameDown: string
  AcceptanceNamesUp: string
  AcceptanceNamesDown: string
  AcceptanceNameSuffUp: string
  AcceptanceNameSuffDown: string
  AcceptanceNameSuffsUp: string
  AcceptanceNameSuffsDown: string
  SelectionEffPathUp: string
  SelectionEffPathDown: string
  SelectionEffPathsUp: string
  SelectionEffPathsDown: string
  SelectionEffPathSuffUp: string
  SelectionEffPathSuffDown: string
  SelectionEffPathSuffsUp: string
  SelectionEffPathSuffsDown: string
  SelectionEffFileUp: string
  SelectionEffFileDown: string
  SelectionEffFilesUp: string
  SelectionEffFilesDown: string
  SelectionEffFileSuffUp: string
  SelectionEffFileSuffDown: string
  SelectionEffFileSuffsUp: string
  SelectionEffFileSuffsDown: string
  SelectionEffNameUp: string
  SelectionEffNameDown: string
  SelectionEffFolderNameUp: string
  SelectionEffFolderNameDown: string
  SelectionEffNamesUp: string
  SelectionEffNamesDown: string
  SelectionEffNameSuffUp: string
  SelectionEffNameSuffDown: string
  SelectionEffNameSuffsUp: string
  SelectionEffNameSuffsDown: string
  MigrationPathUp: string
  MigrationPathDown: string
  MigrationPathsUp: string
  MigrationPathsDown: string
  MigrationPathSuffUp: string
  MigrationPathSuffDown: string
  MigrationPathSuffsUp: string
  MigrationPathSuffsDown: string
  MigrationFileUp: string
  MigrationFileDown: string
  MigrationFilesUp: string
  MigrationFilesDown: string
  MigrationFileSuffUp: string
  MigrationFileSuffDown: string
  MigrationFileSuffsUp: string
  MigrationFileSuffsDown: string
  MigrationNameUp: string
  MigrationNameDown: string
  MigrationFolderNameUp: string
  MigrationFolderNameDown: string
  MigrationNamesUp: string
  MigrationNamesDown: string
  MigrationNameSuffUp: string
  MigrationNameSuffDown: string
  MigrationNameSuffsUp: string
  MigrationNameSuffsDown: string
  ResponseMatrixPathUpSubtractSample: string
  ResponseMatrixPathsUpSubtractSample: string
  ResponseMatrixPathDownSubtractSample: string
  ResponseMatrixPathsDownSubtractSample: string
  ResponseMatrixFileUpSubtractSample: string
  ResponseMatrixFilesUpSubtractSample: string
  ResponseMatrixFileDownSubtractSample: string
  ResponseMatrixFilesDownSubtractSample: string
  ResponseMatrixNameUpSubtractSample: string
  ResponseMatrixNamesUpSubtractSample: string
  ResponseMatrixFolderNameUpSubtractSample: string
  ResponseMatrixFolderNameDownSubtractSample: string
  ResponseMatrixNameDownSubtractSample: string
  ResponseMatrixNamesDownSubtractSample: string
  MigrationPathUpSubtractSample: string
  MigrationPathsUpSubtractSample: string
  MigrationPathDownSubtractSample: string
  MigrationPathsDownSubtractSample: string
  MigrationFileUpSubtractSample: string
  MigrationFilesUpSubtractSample: string
  MigrationFileDownSubtractSample: string
  MigrationFilesDownSubtractSample: string
  MigrationNameUpSubtractSample: string
  MigrationNamesUpSubtractSample: string
  MigrationFolderNameUpSubtractSample: string
  MigrationFolderNameDownSubtractSample: string
  MigrationNameDownSubtractSample: string
  MigrationNamesDownSubtractSample: string
  SelectionEffPathUpSubtractSample: string
  SelectionEffPathsUpSubtractSample: string
  SelectionEffPathDownSubtractSample: string
  SelectionEffPathsDownSubtractSample: string
  SelectionEffFileUpSubtractSample: string
  SelectionEffFilesUpSubtractSample: string
  SelectionEffFileDownSubtractSample: string
  SelectionEffFilesDownSubtractSample: string
  SelectionEffNameUpSubtractSample: string
  SelectionEffNamesUpSubtractSample: string
  SelectionEffFolderNameUpSubtractSample: string
  SelectionEffFolderNameDownSubtractSample: string
  SelectionEffNameDownSubtractSample: string
  SelectionEffNamesDownSubtractSample: string
  AcceptancePathUpSubtractSample: string
  AcceptancePathsUpSubtractSample: string
  AcceptancePathDownSubtractSample: string
  AcceptancePathsDownSubtractSample: string
  AcceptanceFileUpSubtractSample: string
  AcceptanceFilesUpSubtractSample: string
  AcceptanceFileDownSubtractSample: string
  AcceptanceFilesDownSubtractSample: string
  AcceptanceNameUpSubtractSample: string
  AcceptanceNamesUpSubtractSample: string
  AcceptanceFolderNameDownSubtractSample: string
  AcceptanceFolderNameUpSubtractSample: string
  AcceptanceNameDownSubtractSample: string
  AcceptanceNamesDownSubtractSample: string
  Symmetrisation: ONESIDED/TWOSIDED/ABSMEAN/MAXIMUM/MAXIMUMKEEPSIGN
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/TCHANNEL/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  Smoothing: float
  ReferenceSample: string
  OverallUp: float
  OverallDown: float
  CombineName: string
  CombineType: STANDARDDEVIATION/ENVELOPE/STANDARDDEVIATIONNODDOF/HESSIAN/SUMINSQUARES
  UnfoldingName: string
  UnfoldingNames: string
  DropShapeIn: string
  DropNorm: string
  ScaleUp: string
  ScaleDown: string

Unfolding: string
  MatrixOrientation: TRUTHONHORIZONTAL/TRUTHONVERTICAL
  TruthDistributionPath: string
  TruthDistributionFile: string
  TruthDistributionName: string
  NumberOfTruthBins: int
  Tau: string
  TitleX: string
  TitleY: string
  MinRangeY: float
  ScaleRangeY: float
  RatioYmax: float
  RatioYmin: float
  LogX: TRUE/FALSE
  LogY: TRUE/FALSE
  TitleOffsetX: float
  TitleOffsetY: float
  UnfoldingResultMin: float
  UnfoldingResultMax: float
  NominalTruthSample: string
  AlternativeAsimovTruthSample: string
  MigrationTitleX: string
  MigrationTitleY: string
  MigrationLogX: TRUE/FALSE
  MigrationLogY: TRUE/FALSE
  MigrationTitleOffsetX: float
  MigrationTitleOffsetY: float
  PlotSystematicMigrations: TRUE/FALSE
  MigrationText: TRUE/FALSE
  MigrationZmin: float
  MigrationZmax: float
  ResponseZmin: float
  ResponseZmax: float
  DivideByBinWidth: TRUE/FALSE
  DivideByLumi: float
  UnfoldNormXSec: TRUE/FALSE
  UnfoldNormXSecBinN: int
  Expressions: string
  UnfoldingChi2Type: EMPTY/CHI2/CHI2NDF/PROB
  ErrorBandColor: int
  StatErrorBandColor: int
  RatioLineStyle: int
  RatioLineColor: int
  RatioLineWidth: int
  LegendXposition: float
  LegendTextSize: int
  UncertaintyBreakdownRange: float
  LumiLabel: string
  CmeLabel: string

TruthSample: string
  Title: string
  LineColor: int
  LineColorRGB: string
  LineStyle: int
  LineWidth: int
  TruthDistributionPath: string
  TruthDistributionFile: string
  TruthDistributionName: string
  UseForPlotting: TRUE/FALSE
  UnfoldingName: string

Morphing: string
  FitFunction: LINEAR/QUADRATIC/CUBIC/QUARTIC/string
  ParamStartValue: string
  ParamLimits: string
  ParamRangeScale: float
  Chi2WarningLimit: float
  Make1DProjections: TRUE/FALSE
  Expressions: string

EFTConfig: string
  ParameterMinMax: string
  EFTOrder: ALL/LINEAR
  SplitSamplePerBin: TRUE/FALSE
  ExcludedParameterRegionSample: string
  PlotRatio: TRUE/FALSE
