MultiFit: string
  OutputDir: string
  Label: string
  LumiLabel: string
  CmeLabel: string
  GammaTitle: string
  CombiLabel: string
  SaveSuf: string
  ShowObserved: TRUE/FALSE
  LimitTitle: string
  POITitle: string
  CompareLimits: TRUE/FALSE
  ComparePOI: TRUE/FALSE
  ComparePulls: TRUE/FALSE
  CompareEFT: TRUE/FALSE
  PlotCombCorrMatrix: TRUE/FALSE
  CorrelationThreshold: float
  Combine: TRUE/FALSE
  Compare: TRUE/FALSE
  StatOnly: TRUE/FALSE
  IncludeStatOnly: TRUE/FALSE
  POIName: string
  POIRange: string
  LimitMax: float
  POIPrecision: string % not a typo
  FitType: SPLUSB/BONLY/UNFOLDING
  NPCategories: string
  SetRandomInitialNPval: float
  SetRandomInitialNPvalSeed: int
  NumCPU: int
  FastFit: TRUE/FALSE
  FastFitForRanking: TRUE/FALSE
  NuisParListFile: string
  PlotSoverB: TRUE
  SignalTitle: string
  FitResultsRootFile: string
  LimitsFile: string
  BonlySuffix: string
  ShowSystForPOI: TRUE/FALSE
  doLHscan: string
  do2DLHscan: string
  LHscanMin: float
  LHscanMax: float
  LHscanSteps: int
  LHscanMinY: float
  LHscanMaxY: float
  LHscanStepsY: int
  PlotOptions: string
  Logo: TRUE/FALSE
  DebugLevel: int
  LoggingFormat: string
  POILabel: string
  POINominal: string
  ShowTotalOnly: TRUE/FALSE
  POIInitial: string
  POIAsimov: string
  HEPDataFormat: TRUE/FALSE
  UheppFormat: TRUE/FALSE
  FitStrategy: int
  BinnedLikelihoodOptimization: TRUE/FALSE
  UseHesseBeforeMigrad: TRUE/FALSE
  Regions: string
  MultiStageFit: TRUE/FALSE
  NPCutOff: float
  PlotUnfoldedData: TRUE/FALSE
  UnfoldingShowStatOnlyError: TRUE/FALSE
  UnfoldingShowUncertaintyBreakdown: TRUE/FALSE
  UnfoldingUncertaintyBreakdownTotal: TRUE/FALSE
  PlotGammas: TRUE/FALSE
  BlindedParameters: string
  RankingPOIName: string
  RankingPOIAxisScale: string
  RankingUpperAxisNdivision: string
  MaximumNumberFCNcalls: int
  ToleranceScale: float
  ShiftGlobalObservablesInRanking: TRUE/FALSE
  UseAutoDiff: TRUE/FALSE
  NLLOffset: NONE/INITIAL/BIN
  FitToys: int
  ToysHistoNbins: int
  ToysSeed: int
  ToysOnlyStatFluctuation: TRUE/FALSE
  FitToysRandomInitialNormFactorValues: string
  ToysLHScanForAll: TRUE/FALSE
  FitToysLHscanCondition: string
  ToysStoreTestStat: TRUE/FALSE
  UsePOISinRanking: TRUE/FALSE
  RankingNPfraction: float
  FitBlind: TRUE/FALSE

Fit: string
  Options: string
  Label: string
  LoadSuf: string
  ConfigFile: string
  Workspace: string
  FitResultsRootFile: string
  LimitsFile: string
  POIName: string
  Directory: string
  InputName: string
  UseInFit: TRUE/FALSE
  UseInComparison: TRUE/FALSE
  UseHesse: TRUE/FALSE

Limit: string
  LimitType: ASYMPTOTIC/TOYS
  LimitBlind: TRUE/FALSE
  SignalInjection: TRUE/FALSE
  SignalInjectionValue: float
  POI: string
  ParamName: string
  ParamValue: float
  OutputPrefixName: string
  ConfidenceLevel: float
  SplusBToys: int
  BonlyToys: int
  ScanSteps: int
  ScanMin: float
  ScanMax: float
  LimitPlot: TRUE/FALSE
  LimitFile: TRUE/FALSE
  FitStrategy: int
  ToysSeed: int
  UseNLLwithoutOffsetInLHscan: TRUE/FALSE
  UseHesse: TRUE/FALSE
  ToysUsexRooFit: TRUE/FALSE/AUTO
  UseAutoDiff: TRUE/FALSE

Significance: string
  SignificanceType: ASYMPTOTIC/TOYS
  SignificanceBlind: TRUE/FALSE
  POIAsimov: float
  OutputPrefixName: string
  POI: string
  BonlyToys: int
  SignificancePlot: TRUE/FALSE
  ToysSeed: int
  ToysUsexRooFit: TRUE/FALSE
  UseAutoDiff: TRUE/FALSE
  FitStrategy: int
